.editor {
  //width: 720px;
  height: 312px;
  display: flex;
  border: 2px solid black;
  background: beige;

  @media (max-width: 1023px) {
    width: 100%;
    min-width: 470px;
  }
}

.input-area {
  position: relative;
  border: 2px solid grey;
  width: 33vw;
  font-size: 20px;

  @media (max-width: 1023px) {
    width: 50%;
  }
}

.css {
  @extend .input-area;
  padding-left: 36px;
}

.html {
  @extend .input-area;
}

.css-numbers {
  position: absolute;
  left: 0;
  padding: 0 10px;
  text-align: right;
  background: #DDD;
}

#css-input {
  display: inline-block;
  width: 72%;
  margin-left: 10px;
  font-size: 20px;
  
  @media (max-width: 800px) {
    width: 73%;
  }
}

.inputBtn {
  font-size: 20px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.inputBtnShort {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url("../img/enter.svg");
  background-size: contain;

  @media (max-width: 1023px) {
    display: inline-block;
  }
}