.editor {
  height: 320px;
  display: flex;
  border: 2px solid black;
  background: beige;

  @media (max-width: 1023px) {
    width: 100%;
    min-width: 470px;
  }
}

.input-area {
  position: relative;
  border: 2px solid grey;
  width: 33vw;
  font-size: 20px;
  overflow: hidden;

  @media (max-width: 1023px) {
    width: 50%;
  }
}

.css {
  @extend .input-area;
}

.css-description {
  margin-left: 26px;
}

.html {
  @extend .input-area;
}

.css-numbers {
  position: absolute;
  left: 0;
  padding: 0 10px 8px;
  text-align: right;
  background: #DDD;

  @media (max-width: 700px) {
    font-size: 14px;
  }
}

#css-input {
  display: inline-block;
  width: 62%;
  margin-left: 45px;
  font-size: 20px;
}

li:not(.input-area) {}

.inputBtn {
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    scale: 0.85;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

pre {
  @media (max-width: 1365px) {
    font-size: 18px;
  }

  @media (max-width: 700px) {
    font-size: 14px;
  }
}

.inputBtnShort {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url("../img/enter.svg");
  background-size: contain;

  @media (max-width: 1023px) {
    display: inline-block;
  }
}

.tagsField {
  margin-left: 45px;

  @media (max-width: 700px) {
    font-size: 14px;
  }
}