* {
  box-sizing: border-box;
}

body {
  background: #7f85b3;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    justify-content: center;
    padding-right: 10px;
  }
}

h3 {
  text-align: center;
  margin: 3px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.left {
  margin-right: 30px;

  @media (max-width: 1023px) {
    margin-right: 0;
  }
}