.pop-up {
  @extend .right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #1e1719;
  transition-duration: .5s;
}

.hidden {
  transform: translateX(370px);
  transition-duration: .5s;
}

.hidden-adaptive {
  transform: scale(0);
  transition-duration: .5s;
}

.pop-up__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: #f3f372;
  }
}

.closeBtn {
  width: 40px;
  height: 40px;
  background-image: url("../img/close.svg");
  background-size: contain;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.85);
  }
}

#adaptivePopup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #1e1719;
  transition-duration: .5s;
}

.adaptive-popup-title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.level {
  margin: 0 auto;
  color: #f3f372;
}
