.right {
  position: relative;
  min-width: 300px;
  height: 100vh;
  background: #413138;
  padding: 0 20px;
  overflow: hidden;

  @media (max-width: 1023px) {
    display: none;
  }
}

.yellow {
  color: #f3f372;
}

.right-wrapper {
  display: flex;
  align-items: center;
}

h1 {
  @extend .yellow;
  margin-right: 10px;
}



.arrows {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.left-arrow {
  @extend .arrows;
  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
}

.right-arrow {
  @extend .arrows;
  background-image: url("../img/arrow.svg");
}