

.table {
  width: 550px;
  height: 250px;
  margin: 150px auto 0;
  background-image: url("../img/table.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 800px) {
    width: 480px;
  }
}

